@tailwind base;
@tailwind components;
@tailwind utilities;

@import "compass.css";

@font-face {
  font-family: "textRegular";
  src: url("/fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: "textItalic";
  src: url("/fonts/Roboto-Italic.ttf");
}
@font-face {
  font-family: "textBold";
  src: url("/fonts/Roboto-Bold.ttf");
}
@font-face {
  font-family: "textBoldItalic";
  src: url("/fonts/Roboto-BoldItalic.ttf");
}
@font-face {
  font-family: "textBlack";
  src: url("/fonts/Roboto-Black.ttf");
}
@font-face {
  font-family: "textBlackItalic";
  src: url("/fonts/Roboto-BlackItalic.ttf");
}
@font-face {
  font-family: "textLight";
  src: url("/fonts/Roboto-Light.ttf");
}
@font-face {
  font-family: "textLightItalic";
  src: url("/fonts/Roboto-LightItalic.ttf");
}
@font-face {
  font-family: "textMedium";
  src: url("/fonts/Roboto-Medium.ttf");
}
@font-face {
  font-family: "textMediumItalic";
  src: url("/fonts/Roboto-MediumItalic.ttf");
}
@font-face {
  font-family: "textThin";
  src: url("/fonts/Roboto-ThinItalic.ttf");
}
html {
  min-height: 100vh;
}
html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "textRegular";
}
body {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(234, 237, 240, 1) 100%
  );
}

*:focus,
*:active,
button:focus,
button:active {
  outline: none;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1 {
  font-family: "textBold";
  color: #bcbcbb;
  text-align: center;
  font-size: 2rem;
}

h2 {
  color: #294d60;
  text-align: center;
  font-size: 1.125rem;
}
.st0,.st1{
  color:#294d60;
  fill :#294d60;
}

h3 {
  color: #294d60;
  font-family: "textLight";
  font-size: 1.125rem;
}

label {
  font-size: 1.125rem;
  color: #939393;
}
/* -------------------------------------------------------------------------- */
/*                                   BACKGROUND                                  */
/* -------------------------------------------------------------------------- */

.bckLightBlue {
  background-color: #f6fcfe;
}

/* -------------------------------------------------------------------------- */
/*                                   BUTTONS                                  */
/* -------------------------------------------------------------------------- */

.btn {
  outline: none;
  @apply rounded-full py-2 px-4 text-white m-2 cursor-pointer;
}
.btnRoundedMd {
  outline: none;
  @apply rounded-md py-2 px-4 text-white m-2 cursor-pointer;
}
.btn:focus {
  outline: none;
}

.btnRed {
  background: rgb(222, 77, 65);
  background: linear-gradient(
    90deg,
    rgba(222, 77, 65, 1) 0%,
    rgba(167, 44, 33, 1) 100%
  );
}

.btnRed:hover {
  background: rgb(222, 77, 65);
  background: linear-gradient(
    90deg,
    rgba(222, 77, 65, 1) 50%,
    rgba(167, 44, 33, 1) 100%
  );
}

.btnBlue {
  background: rgb(47, 85, 106);
  background: linear-gradient(
    90deg,
    rgba(47, 85, 106, 1) 0%,
    rgba(31, 54, 67, 1) 100%
  );
}

.btnBlue:hover {
  background: rgb(47, 85, 106);
  background: linear-gradient(
    90deg,
    rgba(47, 85, 106, 1) 50%,
    rgba(31, 54, 67, 1) 100%
  );
}

.btnGreen {
  background: rgb(129, 178, 154);
  background: linear-gradient(
    90deg,
    rgba(129, 178, 154, 1) 0%,
    rgba(90, 123, 107, 1) 100%
  );
}

.btnGreen:hover {
  background: rgb(129, 178, 154);
  background: linear-gradient(
    90deg,
    rgba(129, 178, 154, 1) 50%,
    rgba(90, 123, 107, 1) 100%
  );
}
/* -------------------------------------------------------------------------- */
/*                                   BACKGROUND                                  */
/* -------------------------------------------------------------------------- */
.bgRed {
  background-color: #de4c41;
  color: white;
}
.bgBlue {
  background-color: #294d60;
  color: white;
}
.bgGreen {
  background-color: #81b29a;
  color: white;
}

/* -------------------------------------------------------------------------- */
/*                                   TEXTCOLOR                                  */
/* -------------------------------------------------------------------------- */
.textColorLightBlue {
  color: #f6fcfe;
}
.textColorBlue {
  color: #294d60;
}
/* -------------------------------------------------------------------------- */
/*                              DASHBOARD BUTTONS                              */
/* -------------------------------------------------------------------------- */

.btnDashboard {
  @apply flex items-center text-center m-2;
}

.iconDashboard {
  width: 5rem;
  height: 5rem;
  border-radius: 100%;
  border: 0.25rem solid #294d60;
  background-color: #ffffff;
  @apply flex items-center p-1 mx-auto;
}

.btnDashboard > div {
  cursor: pointer;
}

.iconDashboard > img {
  height: 100%;
  @apply p-1 mx-auto;
}

/* -------------------------------------------------------------------------- */
/*                                RADIO BUTTONS                                */
/* -------------------------------------------------------------------------- */

.btnRadio input {
  margin: 0 5px;
}

/* -------------------------------------------------------------------------- */
/*                               SWITCH BUTTONS                               */
/* -------------------------------------------------------------------------- */

.inputCheckBoxBtn {
  height: 0;
  width: 0;
  visibility: hidden;
}

.inputSwitchLabel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 50px;
  height: 25px;

  background: rgb(222, 77, 65);
  background: linear-gradient(
    90deg,
    rgba(222, 77, 65, 1) 0%,
    rgba(167, 44, 33, 1) 100%
  );
  border-radius: 25px;
  position: relative;
  transition: background-color 0.2s;
}

.inputSwitchLabel .switchBtn {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  transition: 0.2s;
  background: #fff;
}

.inputCheckBoxBtn:checked + .inputSwitchLabel .switchBtn {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}

.switchFalse {
  background: rgb(129, 178, 154);
  background: linear-gradient(
    90deg,
    rgba(129, 178, 154, 1) 0%,
    rgba(90, 123, 107, 1) 100%
  );
}

.inputSwitchLabel:active .switchBtn {
  width: 30px;
}

/* -------------------------------------------------------------------------- */
/*                                    INPUT                                   */
/* -------------------------------------------------------------------------- */

.floatLabel {
  position: relative;
  @apply flex flex-col relative m-2;
}

.floatLabel input {
  border: 2px solid #bcbcbb;
  color: #bcbcbb;
  width: 100%;
  outline: none;
  background: #fff;
  @apply rounded-md px-2 pt-4 pb-1;
}

.floatLabel label {
  @apply px-3;
  pointer-events: none;
  position: absolute;
  transform: translate(0, 10px) scale(1);
  transform-origin: top left;
  color: #bcbcbb;
  transition: all 0.2s ease-out;
}

.floatLabel:focus-within label {
  transform: translate(0, 0) scale(0.75);
  color: #bcbcbb;
}

.floatLabel .full {
  transform: translate(0, 0) scale(0.75);
  color: #bcbcbb;
}

.floatLabel input:focus {
  border: 2px solid #294d60;
  color: #294d60;
}

.floatLabel .inputFull {
  color: #294d60;
}

.floatLabel textarea {
  border: 2px solid #bcbcbb;
  color: #bcbcbb;
  width: 100%;
  outline: none;
  background: #fff;
  @apply rounded-md px-2 pt-4 pb-1;
}

.floatLabel textarea:focus {
  border: 2px solid #294d60;
  color: #294d60;
}

.inputSearch {
  color: #294d60;
  border-radius: 0.375rem;
  border: solid 2px #bcbcbb;
  padding-left: 40px;
  background-image: url(../public/images/loupe-1.svg);
  height: 40px;
  background-repeat: no-repeat;
  background-size: 40px;
  background-position: 5px;
  margin: 0.5rem;
}

.inputSearch::placeholder {
  color: #bcbcbb;
}
.inputList {
  color: #294d60;
  border-radius: 0.375rem;
  border: solid 2px #bcbcbb;
  background-repeat: no-repeat;
  background-size: 40px;
  background-position: 5px;
  @apply py-1 px-2 mx-2 h-8;
}
.inputPrices {
  width: 100px;
  height: 48px;
  padding: 0 25px 0 10px;
  border: 2px solid #bcbcbb;
  border-radius: 5px;
  color: #294d60;
  font-size: 1.125rem;
  margin: 0.5rem;
}

.inputPrices:focus {
  outline: none;
  border: 2px solid #294d60;
  color: #294d60;
}

.euroSymbol {
  position: relative;
}

.euroSymbol::after {
  content: "€";
  color: #bcbcbb;
  position: absolute;
  right: 10px;
  font-size: 1.125rem;
  width: 12px;
  height: 48px;
  line-height: 48px;
  margin: 0.5rem;
}

.inputSurface {
  width: 100%;
  height: 48px;
  padding: 0 45px 0 10px;
  border: 2px solid #bcbcbb;
  border-radius: 5px;
  color: #294d60;
  font-size: 1.125rem;
  margin: 0.5rem;
}

.inputSurface:focus {
  outline: none;
  border: 2px solid #294d60;
  color: #294d60;
}

.inputSurface::placeholder {
  color: #bcbcbb;
}

.surface {
  width: 250px;
  position: relative;
}
.surface::after {
  content: "m²";
  color: #bcbcbb;
  position: absolute;
  right: 5px;
  font-size: 1.125rem;
  width: 20px;
  height: 48px;
  line-height: 48px;
  margin: 0.5rem;
}

/* ---------inputSlideFinition------ */
input[type="range"].custom-slider {
  -webkit-appearance: none; /*nécessaire pour Chrome */
  padding: 0; /* nécessaire pour IE */
  font: inherit; /* même rendu suivant font document */
  outline: none;
  color: #069; /* sert pour couleur de référence, via currentColor, pour le curseur */
  opacity: 1;
  border-radius: 20px;
  background: rgb(222, 77, 65);
  background: linear-gradient(
    90deg,
    rgba(222, 77, 65, 1) 0%,
    rgba(167, 44, 33, 1) 100%
  );
  box-sizing: border-box; /* même modèle de boîte pour tous */
  transition: opacity 0.2s;
  cursor: pointer;
  width: 100%;
}

input[type="range"].custom-slider::-webkit-slider-runnable-track {
  /* height: 100%; */
  border: none;
}

input[type="range"].custom-slider::-moz-range-track {
  height: 100%;
  border: none;
}

input[type="range"].custom-slider::-ms-track {
  height: 100%;
  border: none;
}

input[type="range"].custom-slider.custom-slider-bullet::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 1.5em;
  height: 1.5em;
  padding: 0.25em; /* largeur du bord */
  border: 1px solid #de4d41;
  border-radius: 50%;
  box-shadow: none;
  background: white;
}

input[type="range"].custom-slider.custom-slider-bullet::-moz-range-thumb {
  width: 1.5em;
  height: 1.5em;
  padding: 0.25em; /* largeur du bord */
  border: 3px solid #de4d41;
  border-radius: 50%;
  box-shadow: none;
  background: white;
}

input[type="range"].custom-slider.custom-slider-bullet::-ms-thumb {
  width: 1.5em;
  height: 1.5em;
  padding: 0.25em; /* largeur du bord */
  border: 3px solid #de4d41;
  border-radius: 50%;
  box-shadow: none;
  background: white;
}

/* -------------------------------------------------------------------------- */
/*                                FIL D'ARIANNE                               */
/* -------------------------------------------------------------------------- */

.linkArianneHome {
  background-color: #de4c41;
  fill: #de4c41;
  color: #fff;
}

.linkArianneHome:hover {
  background-color: #294d60;
  fill: #294d60;
}

.linkArianne {
  @apply mx-1;
  text-decoration: underline;
  color: #bcbcbb;
}

.filArianne li:after {
  content: ">";
  color: #bcbcbb;
}

.filArianne li:last-child:after,
.filArianne:first-child:after {
  content: "";
}

.linkArianne:hover {
  color: #294d60;
}

/* -------------------------------------------------------------------------- */
/*                             STEP NAV BAR                            */
/* -------------------------------------------------------------------------- */

.pageEsti ul li a {
  display: block;
  width: 55px;
  height: 55px;
  font-size: 1.125rem;
  /* background-color: white; */
  color: #939393;
  margin: 5px;
  line-height: 55px;
  text-align: center;
  border: 1px solid #bcbcbb;
  border-radius: 100px;
  transition: all 0.3s ease;
  z-index: 1;
}
.pageEsti ul li:first-of-type a {
  background-color: transparent;
  color: white;
}
.pageEsti ul li a:hover {
  /* text-decoration: underline; */
  transform: scale(1.1);
  font-weight: 800;
}
.pageEsti {
  position: relative;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.pageEsti::-webkit-scrollbar {
  display: none;
}

.stepBack {
  position: absolute;
  left: 5px;
  top: 5px;
  height: 55px;
  width: 55px;
  background: rgb(47, 85, 106);
  background: linear-gradient(
    90deg,
    rgba(47, 85, 106, 1) 0%,
    rgba(31, 54, 67, 1) 100%
  );
  border-radius: 50px;
  z-index: -1;
  transition: all 0.5s ease;
}

.pageEsti a.stepPass {
  background-color: transparent;
  color: white;
  border: none;
}

/* -------------------------------------------------------------------------- */
/*                             btn mod supp France                            */
/* -------------------------------------------------------------------------- */

button.btnMod {
  width: 80px;
  height: 40px;
  background-color: rgb(47, 85, 106);
  background: url("../public/images/btnMod.svg"),
    linear-gradient(90deg, rgba(47, 85, 106, 1) 0%, rgba(31, 54, 67, 1) 100%);
  background-repeat: no-repeat;
  background-position: 75% 50%;
  background-size: 35px, 100%;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
button.btnMod:hover {
  background: url("../public/images/btnModHover.svg"),
    linear-gradient(90deg, rgba(47, 85, 106, 1) 40%, rgba(31, 54, 67, 1) 100%);
  background-repeat: no-repeat;
  background-position: 75% 50%;
  background-size: 35px, 100%;
}
button.btnSupp {
  width: 80px;
  height: 40px;
  background-color: rgb(222, 77, 65);
  background: url("../public/images/btnSupp.svg"),
    linear-gradient(90deg, rgba(222, 77, 65, 1) 0%, rgba(167, 44, 33, 1) 100%);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 35px, 100%;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
button.btnSupp:hover {
  background: url("../public/images/btnSuppHover.svg"),
    linear-gradient(90deg, rgba(222, 77, 65, 1) 40%, rgba(167, 44, 33, 1) 100%);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 35px, 100%;
}

/* -------------------------------------------------------------------------- */
/*                             step list form estimation France                            */
/*                             STEP LIST FORM ESTIMATION                      */
/* -------------------------------------------------------------------------- */

.titleList {
  font-family: "textBold";
  color: #bcbcbb;
}

.titleListOpen {
  font-family: "textBold";
  color: #81b29a;
}

.listClose {
  border-radius: 6px;
  border: 2px solid #bcbcbb;
}

.listOpen {
  border: 2px solid#294d60;
}
/*-------------------------------------------------------------------------- */
/*                             details estimation France                            */
/* -------------------------------------------------------------------------- */

.block {
  margin: 10px;
  border-radius: 10px;
  border: 2px solid #bcbcbb;
  background-color: #f6fcfe;
  padding: 20px;
  color: #294d60;
}
.imgAgent {
  margin-right: 20px;
  border: 2px solid #bcbcbb;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  fill: #de4c41;
}

span.titleGreen {
  color: #81b29a;
}

span.typeHabitat {
  font-size: 1.125rem;
  color: #de4c41;
}

span.titleFloor {
  display: block;
  background-color: #294d60;
  color: white;
  font-family: "textBold";
  text-align: left;
  padding: 10px;
  margin: 10px auto;
}
span.titleRoom {
  display: block;
  background-color: #81b29a;
  color: white;
  font-family: "textBold";
  text-align: left;
  padding: 10px;
  margin: 0;
}
span.red {
  color: #de4c41;
}
span.green {
  color: #81b29a;
}
.block h2 {
  font-family: "textBold";
  font-size: 1.5rem;
}

p.priceEstimation {
  font-family: "textBold";
  color: #81b29a;
}
p.comment {
  color: #8497a6;
}
ul.listDetailEstimation {
  margin: 5px 10px;
}
ul.listDetailEstimation li {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  color: #8497a6;
}
ul.listDetailEstimation li:nth-of-type(odd) {
  background-color: #fff;
}
ul.listDetailEstimation img {
  width: 25px;
}

img.picturesEsti {
  width: 150px;
  height: 150px;
  overflow: hidden;
}
/* -------------------------------------------------------------------------- */
/*                             Dashboard France                            
/*                             -------------------------------------------------------------------------- */
.logo {
  display: none;
}
.logo img {
  width: 350px;
  margin: 30px auto 0;
}
.dashboard {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  align-content: center;
  justify-content: space-around;
}

.dashboard button {
  color: #8497a6;
  margin: 10px;
  transition: all 0.3s ease;
}

.dashboard button img {
  width: 120px;
}

.dashboard button:hover {
  transform: scale(1.5);
}

/*******************/
/* CSS Melodie */
/*******************/

.regularLink:hover {
  color: #294d60;
  text-decoration: underline;
}

.regularLink {
  color: #d3d2d2;
}
.regularLinkActive {
  background: rgb(47, 85, 106);
  background: linear-gradient(
    90deg,
    rgba(47, 85, 106, 1) 0%,
    rgba(31, 54, 67, 1) 100%
  );
  color: #fff;
  border: none;
}
.regularLinkActive:hover {
  color: #fff;
}

.regularLinkBorder {
  border: solid 1px #bcbcbb;
}

.svgPagination {
  fill: #d3d2d2;
}

.svgPagination:hover {
  fill: #294d60;
}
.borderDropdownListing {
  border: solid 1px #294d60;
}
.borderUnderDropdownListing {
  border: solid 1px #bcbcbb;
}
.openCloseChevronBottom {
  width: 1.4rem;
  fill: currentColor;
  fill-rule: evenodd;
  clip-rule: evenodd;
  stroke-linejoin: round;
  stroke-miterlimit: 2;
}
.openCloseChevronRight {
  width: 0.8rem;
  fill: currentColor;
  fill-rule: evenodd;
  clip-rule: evenodd;
  stroke-linejoin: round;
  stroke-miterlimit: 2;
}
.addSvgButton {
  width: 1.4rem;
  display: inline;
  fill: none;
}
.strokeWhite {
  stroke: #fff;
  stroke-width: 1px;
  fill-rule: evenodd;
  clip-rule: evenodd;
  stroke-linejoin: round;
  stroke-miterlimit: 2;
}
.form-loginlogout {
  max-width: 300px;
}
/*******************/
/*END CSS melodie */
/*******************/

.redHome{
  fill:#DE4C41;
  color:#DE4C41;
}

.topNegative{
  top:-1.2rem;
}
/* -------------------------------------------------------------------------- */
/*                            DROPDOWN LIST                                   */
/* -------------------------------------------------------------------------- */

.selectStyle .select {
  background: white;
  border: 1px solid #bcbcbb;
  color: #294d60;
  border-radius: 15px;
}

.selectStyle optgroup {
  background-color: #81b29a;
  color: #ffffff;
}

.selectStyle option {
  background-color: #ffffff;
  color: #294d60;
}

.selectStyle option:hover {
  background-color: #8497a6;
}

.selectBorder {
  @apply border-2 border-solid border-gray-300 rounded p-2;
}

.dropdownBorder {
  @apply border-2 border-solid border-gray-300 rounded;
}

.dropdownDiv {
  @apply inline-block relative w-full;
}

.dropdownButton {
  @apply bg-white text-gray-500 font-bold py-2 px-4 rounded flex justify-between items-center w-full;
}

.dropdownUl {
  @apply text-gray-700 pt-1 w-full bg-white rounded;
}

.dropdownLiTitleFirst {
  background-color: #81b29a;
  @apply rounded-t py-2 px-4 font-semibold text-white;
}

.dropdownLiTitle {
  background-color: #81b29a;
  @apply py-2 px-4 font-semibold text-white;
}

.dropdownLiOption {
  @apply hover:bg-gray-200 py-2 pl-6 cursor-pointer;
}

.dropdownLiOptionLast {
  @apply rounded-b hover:bg-gray-200 py-2 px-4 cursor-pointer;
}
